<form class="reizen" action="">
	<label>Kies hier jouw continent:</label>
	<div>
		{{#each continenten}}
			<label>{{this}}</label>
		{{/each}}
	</div>

	<div>
		{{#each hbs}}
			{{this.name}}
		{{/each}}


		{{!-- {{#each landen}} --}}

			{{!-- {{#equals landen.continent "AF"}}
				<label>{{this.name}}</label>
			{{/equals}} --}}


			{{!-- {{#if (eq continent "AF")}}
				<label>{{this.name}}</label>
			{{/if}}

		{{/each}} --}}
	</div>




</form>



{{!-- {{#each landen}} {{this.name}}{{this.emoji}}, {{/each}} --}}